
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles can follow */

@keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body:not(.dark) {
  background-color: #e1d8c5;
  color: #111;
}
body:not(.dark) a{
  color: rgb(231, 219, 219);
}
.nav-tab{
   transition: background-color 0.2s ease-in-out;
  }
  .nav-tab:hover {
    background-color: #1f3d33; /* lighter green over #111814 */
  }


